<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
    <httpRuntime maxRequestLength="1024000" executionTimeout="3600" />
  </system.web>
  <appSettings>
    <add key="conn" value="data\DataBase.accdb" />
    <add key="url" value="http://qiye.semsys.cn"/>
  </appSettings>
</configuration>